## 튜플자료형
> 튜플은 몇 가지 점을 제외하고 리스트와 거의 비슷
- 리스트는 [], 튜플은()으로 둘러싼다
- 리스트는 요솟값의 생성, 삭제, 수정이 가능하지만, 튜플은 요소의 수정, 삭제 불가능

In [1]:
t1 = () 
t2 = (1, )
t3 = (1, 2, 3)
t4 = 1, 2, 4
t5 = ("a", 'b', ('ab', 'cd'))

In [2]:
t1 = (1, 2, "a", 'b') 
del t1[0]

TypeError: 'tuple' object doesn't support item deletion

In [3]:
t1 = (1, 2, 'a', 'b') 
t1[0] = "hello"

TypeError: 'tuple' object does not support item assignment

> 튜플은 요솟값을 삭제하거나 수정할 수 없다

In [4]:
t1 = (1, 2, 'a', 'b') 
t1[0]

1

In [5]:
t1[1: ]

(2, 'a', 'b')

In [6]:
t2 = (3, 4)
t3 = t1 + t2

In [7]:
t3

(1, 2, 'a', 'b', 3, 4)

In [8]:
t2 = (3, 4) 
t3 = t2 * 3

In [9]:
print(t2) 
print(t3)

(3, 4)
(3, 4, 3, 4, 3, 4)

In [10]:
t1 = (1, 2, 'a', 'b')
len(t1)

4

In [11]:
t1

(1, 2, 'a', 'b')

In [12]:
del t1

In [13]:
t1

NameError: name 't1' is not defined

In [14]:
t2

(3, 4)

In [15]:
b = list(t2)

In [16]:
b

[3, 4]

In [17]:
b.append(5)

In [18]:
b

[3, 4, 5]

In [19]:
t2

(3, 4)

In [20]:
t2 = tuple(b)

In [21]:
t2

(3, 4, 5)