> abs() 절대값을 리턴하는 함수

In [1]:
print(abs(3))
print(abs(-3))
print(abs(-1.22))

3
3
1.22

> all()

In [7]:
print(all([1, 2, 3]))
print(all([0, 1, 3, 2]))
print(all([]))
#  all의 입력인수가 빈값이면 True 
# all의 입력인수 중 모두 참이면 True

True
False
True

> any()

In [11]:
print(any([1, 2, 3, 0]))
print(any([0, ""]))
print(any([]))

True
False
False

> chr(i) 유니코드 숫자 값을 입력받아 그 코드에 해당하는 문자를 리턴하는 함수

In [13]:
print(chr(56))
print(chr(97))
print(chr(44032))

8
a
가

dir() 객체가 지닌 변수나 함수를 보여주는 함수

In [15]:
print(dir([1, 2, 3]))
print(dir({"1", "a"}))

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getstate__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']
['__and__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getstate__', '__gt__', '__hash__', '__iand__', '__init__', '__init_subclass__', '__ior__', '__isub__', '__iter__', '__ixor__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__rand__', '__reduce__', '__reduce_ex__', '__repr__', '__ror__', '__rsub__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__xor__', 'add', 'clear', 'copy', 'difference', 'difference_update', 'discard', 'intersection', 'intersection_update', 'isdisjoint', 'issubset', 'issuperset', 'pop', 'remove', 'symmetric_difference', 'symmetric_difference_update', 'union', 'update']

> divmod(a, b) 2개의 숫자 a, b를 입력으로 받고 a를 b로 나눈 몫과 나머지를 튜를로 리턴

In [17]:
print(divmod(7, 3))
print(7 // 3)
print(7 % 3)

(2, 1)
2
1

> enumerate() 순서가 있는 데이터(리스트, 튜플, 문자열)를 입력받아 인덱스 값을 포함하는 객체를 리턴

In [18]:
for i, name in enumerate(["body", "foo", "bar"]): 
    print(i, name)

0 body
1 foo
2 bar

> eval(expression) 문자열로 구성된 표현식을 입력으로 해당 문자열을 실행

In [20]:
print(eval("1 + 2"))
print(eval("'hi' + 'hello'"))
print(eval("divmod(4, 3)"))

3
hihello
(1, 1)

> filter(함수, 반복_가능한_데이터)

In [21]:
def positive(l): 
    result = [] 
    for i in l: 
        if i > 0: 
            result.append(i) 
    return result 

print(positive([1, -3, 2, 0, -5, 6]))

[1, 2, 6]

In [23]:
def positive(x): 
    return x > 0

list(filter(positive, [1, -3, 2, 0, -5, 7]))

[1, 2, 7]

In [26]:
list(filter(
    lambda x: x > 0, [1, -3, 0, 2, 4]
))

[1, 2, 4]

> hex()
* 정수를 입력받아 16진수를 문자열로 반환

In [27]:
print(hex(234))

0xea

In [28]:
hex(3)

'0x3'

In [29]:
hex(17)

'0x11'

In [30]:
hex(15)

'0xf'

> oct()
* oct(x) 정수를 8진수 문자열로 리턴하는 함수

In [67]:
print(oct(34))
print(oct(11))
print(oct(9))

0o42
0o13
0o11

> id() 
* 객체를 입력받아 고유 주소값을을 리턴하는 함수

In [38]:
a = 4
print(id(4))
print(id(4))
print(id(a))

4457405920
4457405920
4457405920

In [34]:
id(3)

4457405888

In [35]:
id(2)

4457405856

> input()
* 사용자 입력을 받는 함수

In [40]:
a = input()
print(a)

b = input("Enter: ")
print(b)

hello
how are you?

> int(x) 
* 문자열을 형태의 숫자나 소수점이 있는 숫자를 정수로 리턴

In [41]:
int("3")

3

In [43]:
int(3.4)

3

In [51]:
print(int("11", 2))
print(int("11", 8))
print(int("11", 16))
print(int("11", 20))
print(int("11", 36))

3
9
17
21
37

> isinstance(object, claa)
* 첫 번째 인수가 두 번째 클래스를 받는다. 입력으로 받은 객체가 그 클래스의 인스턴스인지 판단

In [53]:
class Person: pass 

a = Person()
b = 3
print(isinstance(a, Person)) 
print(isinstance(b, Person))

True
False

> len()
* 입력값의 길이를 리턴하는 함수

In [54]:
print(len('python'))
print(len([1, 3, 4]))
print(len((1, "a")))
print(len({"name": "ken", "hobby": "run"}))

6
3
2
2

> list(iterable)
* 반복가능한 데이터를 입력받아 리스트로 만드는 함수

In [55]:
list("python")

['p', 'y', 't', 'h', 'o', 'n']

In [56]:
list((1, 3, 3))

[1, 3, 3]

In [57]:
list({"name": "ken", "age": 10})

['name', 'age']

> map()
* map(i, iterable)는 함수 i와 반복 가능한 데이터를 입력으로 받는다

In [58]:
def tow_times(numberList): 
    result = [] 
    for number in numberList:
        result.append(number * 2) 
    return result 

result = tow_times([1, 2, 3, 4])
result

[2, 4, 6, 8]

In [62]:
def tow_times(x): 
    return x * 2

result = map(tow_times, [1, 2, 3, 4])
print(result)
print(type(result))
print(list(result))

<map object at 0x10b727b50>
<class 'map'>
[2, 4, 6, 8]

In [63]:
result = map(lambda x: x*2, [1, 2, 3, 4])
print(list(result))

[2, 4, 6, 8]

> max, min 
* max(iterable), min(iterable) 반복 가능한 데이터를 입력받아 최대값, 최소값을 리턴

In [65]:
print(max([1, 2, 3]))
print(min([1, 2, 3]))
print(max("python"))
print(min("python"))

3
1
y
h

> open(filename, [mode])
* 파일이름과 읽기방법을 입력받아 파일 객체를 리턴 받는 함수
* w - 쓰기모드로 파일 열기
* r - 읽기모드로 파일 열기
* a - 추가모드로 파일 열기
* b - 바이너리 모드로 파일 열기

In [ ]:
f = open("binary_file", "rb")

> ord()
* 문자의 유니코드 값을 리턴하는 함수

In [69]:
print(ord("a"))
print(ord("가"))

97
44032

> pow(x, y)
* x에 y를 제곱한 결과값으르 리턴

In [70]:
print(pow(2, 4))
print(pow(3, 3))

16
27

> range(start, stop, step)
* 입력받은 숫자에 해당하는 범위 값을 반복 가능한 객체로 만들어 리턴

In [71]:
# 인수가 하니일 경우
range(5)

range(0, 5)

In [73]:
# 인수가 2개일 경우
print(range(5, 10))
print(type(range(5, 10)))
print(list(range(5, 10)))

range(5, 10)
<class 'range'>
[5, 6, 7, 8, 9]

In [75]:
# 인수가 3개일 경우
print(range(5, 10, 2))
print(type(range(5, 10, 2)))
print(list(range(5, 10, 2)))

range(5, 10, 2)
<class 'range'>
[5, 7, 9]

> round(number, [digits])
* 숫자를 입력받아 반올림해 리턴하는 함수

In [76]:
print(round(4.6))
print(round(4.2))
print(round(3.14159, 2))

5
4
3.14

> sorted(iterable)
* 입력결과를 정령하는 함수

In [80]:
print(sorted([1, 3, 2, 8, 7]))
print(sorted(["a", "c", "b", "A", "B"]))
print(ord("A"))
print(ord("B"))
print(ord("a"))
print(sorted("zero"))
print(sorted((3, 2,1)))

[1, 2, 3, 7, 8]
['A', 'B', 'a', 'b', 'c']
65
66
97
['e', 'o', 'r', 'z']
[1, 2, 3]

> str(object)
* 문자열 형태로 객체를 변환

In [81]:
str(3)

'3'

> sum(iterable)
* 입력데이터의 합을 리턴

In [82]:
print(sum([1, 3, 3]))
print(sum([4, 5, 6]))

7
15

> tuple(iterable)
* 반복 가능한 데이터를 튜플로 바꾸어 리턴하는 함수

In [83]:
print(tuple("abc"))
print(tuple([1, 3, 3]))
print(tuple((1, 3, 3)))

('a', 'b', 'c')
(1, 3, 3)
(1, 3, 3)

> type(object) 
* 입력값의 자료형이 무엇인지 알려 주는 함수

In [84]:
print(type("abc"))
print(type([]))
print(type(open("test", "w")))

<class 'str'>
<class 'list'>
<class '_io.TextIOWrapper'>

> zip(iterable)
* 동일한 개수로 이루어진 데이터들을 묶어서 리턴하는 함수

In [85]:
list(zip([1, 2, 3], [4, 5, 6]))

[(1, 4), (2, 5), (3, 6)]

In [86]:
list(zip([1, 2, 3], [4, 5, 6], [7, 8, 9]))

[(1, 4, 7), (2, 5, 8), (3, 6, 9)]

In [87]:
list(zip("abc", "def"))

[('a', 'd'), ('b', 'e'), ('c', 'f')]

In [88]:
list(zip("ab", "def"))

[('a', 'd'), ('b', 'e')]