> abs() 절대값을 리턴하는 함수

In [1]:
print(abs(3))
print(abs(-3))
print(abs(-1.22))

3
3
1.22

> all()

In [7]:
print(all([1, 2, 3]))
print(all([0, 1, 3, 2]))
print(all([]))
#  all의 입력인수가 빈값이면 True 
# all의 입력인수 중 모두 참이면 True

True
False
True

> any()

In [11]:
print(any([1, 2, 3, 0]))
print(any([0, ""]))
print(any([]))

True
False
False

> chr(i) 유니코드 숫자 값을 입력받아 그 코드에 해당하는 문자를 리턴하는 함수

In [13]:
print(chr(56))
print(chr(97))
print(chr(44032))

8
a
가

dir() 객체가 지닌 변수나 함수를 보여주는 함수

In [15]:
print(dir([1, 2, 3]))
print(dir({"1", "a"}))

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getstate__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']
['__and__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getstate__', '__gt__', '__hash__', '__iand__', '__init__', '__init_subclass__', '__ior__', '__isub__', '__iter__', '__ixor__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__rand__', '__reduce__', '__reduce_ex__', '__repr__', '__ror__', '__rsub__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__xor__', 'add', 'clear', 'copy', 'difference', 'difference_update', 'discard', 'intersection', 'intersection_update', 'isdisjoint', 'issubset', 'issuperset', 'pop', 'remove', 'symmetric_difference', 'symmetric_difference_update', 'union', 'update']

> divmod(a, b) 2개의 숫자 a, b를 입력으로 받고 a를 b로 나눈 몫과 나머지를 튜를로 리턴

In [17]:
print(divmod(7, 3))
print(7 // 3)
print(7 % 3)

(2, 1)
2
1

> enumerate() 순서가 있는 데이터(리스트, 튜플, 문자열)를 입력받아 인덱스 값을 포함하는 객체를 리턴

In [18]:
for i, name in enumerate(["body", "foo", "bar"]): 
    print(i, name)

0 body
1 foo
2 bar

> eval(expression) 문자열로 구성된 표현식을 입력으로 해당 문자열을 실행

In [20]:
print(eval("1 + 2"))
print(eval("'hi' + 'hello'"))
print(eval("divmod(4, 3)"))

3
hihello
(1, 1)

> filter(함수, 반복_가능한_데이터)

In [21]:
def positive(l): 
    result = [] 
    for i in l: 
        if i > 0: 
            result.append(i) 
    return result 

print(positive([1, -3, 2, 0, -5, 6]))

[1, 2, 6]

In [23]:
def positive(x): 
    return x > 0

list(filter(positive, [1, -3, 2, 0, -5, 7]))

[1, 2, 7]

In [26]:
list(filter(
    lambda x: x > 0, [1, -3, 0, 2, 4]
))

[1, 2, 4]

> hex()
* 정수를 입력받아 16진수를 문자열로 반환

In [27]:
print(hex(234))

0xea

In [28]:
hex(3)

'0x3'

In [29]:
hex(17)

'0x11'

In [30]:
hex(15)

'0xf'

> id() 
* 객체를 입력받아 고유 주소값을을 리턴하는 함수

In [38]:
a = 4
print(id(4))
print(id(4))
print(id(a))

4457405920
4457405920
4457405920

In [34]:
id(3)

4457405888

In [35]:
id(2)

4457405856

> input()
* 사용자 입력을 받는 함수

In [40]:
a = input()
print(a)

b = input("Enter: ")
print(b)

hello
how are you?

> int(x) 
* 문자열을 형태의 숫자나 소수점이 있는 숫자를 정수로 리턴

In [41]:
int("3")

3

In [43]:
int(3.4)

3

In [51]:
print(int("11", 2))
print(int("11", 8))
print(int("11", 16))
print(int("11", 20))
print(int("11", 36))

3
9
17
21
37