In [1]:
import datetime

In [2]:
day1 = datetime.date(2021, 12, 14)
day2 = datetime.date(2023, 4, 5)

In [5]:
diff = day2 - day1
diff.days

477

In [6]:
(day2 - day1).days

477

In [7]:
day = datetime.date(2024, 8, 2)
day.weekday()

# 0은 월요일, 1은 화요일 .... 6은 일요일

4

In [8]:
day.isoweekday()

# 1은 월요일, 2는 화요일 ... 7은 일요일

5

> time
* time.time() UTC를 사용하여 현재 시간을 실수 형태로 리턴

In [9]:
import time 
time.time()

1722567922.530886

In [11]:
time.localtime(time.time())

time.struct_time(tm_year=2024, tm_mon=8, tm_mday=2, tm_hour=12, tm_min=6, tm_sec=3, tm_wday=4, tm_yday=215, tm_isdst=0)

In [13]:
time.asctime(time.localtime(time.time()))

'Fri Aug  2 12:06:49 2024'

In [14]:
time.ctime()

'Fri Aug  2 12:07:22 2024'

In [35]:
# 요일의 줄임말 Mon
print("%a", time.strftime("%a", time.localtime(time.time())))

# 요일
print("%A", time.strftime("%A", time.localtime(time.time())))


print("%b", time.strftime("%b", time.localtime(time.time())))
print("%B", time.strftime("%B", time.localtime(time.time())))

print("%c", time.strftime("%c", time.localtime(time.time())))

print("%x", time.strftime("%x", time.localtime(time.time())))

print("%H 24시간 출력상태", time.strftime("%H", time.localtime(time.time())))
print("%i 12시간 출력상태", time.strftime("%I", time.localtime(time.time())))
print("%j 1년중 누적날짜", time.strftime("%j", time.localtime(time.time())))
print("%m 월", time.strftime("%m", time.localtime(time.time())))
print("%M 분", time.strftime("%M", time.localtime(time.time())))
print("%p pm/am", time.strftime("%p", time.localtime(time.time())))
print("%S 초", time.strftime("%S", time.localtime(time.time())))
print("%U 1년 중 누적주", time.strftime("%U", time.localtime(time.time())))
print("%x 현재 설정된 지역에 기반한 날자", time.strftime("%x", time.localtime(time.time())))
print("%X 현재 설정된 지역에 기반한 시간", time.strftime("%X", time.localtime(time.time())))
print("%Y 연도출력", time.strftime("%Y", time.localtime(time.time())))
print("%z 시간대출력", time.strftime("%z", time.localtime(time.time())))
print(time.strftime("%Y-%m-%d", time.localtime(time.time())))

%a Fri
%A Friday
%b Aug
%B August
%c Fri Aug  2 12:25:55 2024
%x 08/02/24
%H 24시간 출력상태 12
%i 12시간 출력상태 12
%j 1년중 누적날짜 215
%m 월 08
%M 분 25
%p pm/am PM
%S 초 55
%U 1년 중 누적주 30
%x 현재 설정된 지역에 기반한 날자 08/02/24
%X 현재 설정된 지역에 기반한 시간 12:25:55
%Y 연도출력 2024
%z 시간대출력 +0900
2024-08-02

> time.sleep()
* 일정한 시간 간격을 두고 루프를 실행할 수 있다.

In [39]:
import time 

for i in range(10): 
    print(i)
    time.sleep(5)

# 1초 간격으로 실행

0
1
2
3
4
5
6
7
8
9

In [40]:
# 최대 공약수 

import math
math.gcd(60, 100, 80)

20

In [41]:
60/20, 100/20, 80/20

(3.0, 5.0, 4.0)

In [42]:
# 최소 공배수

import math 
math.lcm(15, 25)

75

In [47]:
# random 난수 생성기 
import random
random.random()

0.12189227485400467

In [52]:
# 1~10까지의 난수 
result = random.random() * 10
int(result)

5

In [53]:
random.randint(1, 10)

8

In [54]:
import random 

def random_pop(data): 
    number = random.randint(0, len(data) -1)
    return data.pop(number) 

if __name__ == "__main__": 
    data = [ 1, 2, 3, 4, 5] 
    while data: 
        print(random_pop(data))

2
4
5
1
3

In [1]:
students = ["한민서", "유나현", "조현일", "조은성", "이광수", "유재석"]
snacks = ["사탕", "초콜릿", "젤리"]

result = zip(students, snacks) 
print(list(result))

[('한민서', '사탕'), ('유나현', '초콜릿'), ('조현일', '젤리')]

In [2]:
import itertools 

result = itertools.zip_longest(students, snacks, fillvalue="새우깡")
print(list(result))

[('한민서', '사탕'), ('유나현', '초콜릿'), ('조현일', '젤리'), ('조은성', '새우깡'), ('이광수', '새우깡'), ('유재석', '새우깡')]

> itertools.permutation 
반복 가능한 객체중에서 r개를 선택한 순열을 이터레이터로 리턴하는 함수

In [5]:
import itertools 

list(itertools.permutations(["1", "2", "3"], 2))
list(itertools.permutations(["1", "2", "3", "4"], 3))

[('1', '2', '3'),
 ('1', '2', '4'),
 ('1', '3', '2'),
 ('1', '3', '4'),
 ('1', '4', '2'),
 ('1', '4', '3'),
 ('2', '1', '3'),
 ('2', '1', '4'),
 ('2', '3', '1'),
 ('2', '3', '4'),
 ('2', '4', '1'),
 ('2', '4', '3'),
 ('3', '1', '2'),
 ('3', '1', '4'),
 ('3', '2', '1'),
 ('3', '2', '4'),
 ('3', '4', '1'),
 ('3', '4', '2'),
 ('4', '1', '2'),
 ('4', '1', '3'),
 ('4', '2', '1'),
 ('4', '2', '3'),
 ('4', '3', '1'),
 ('4', '3', '2')]

In [6]:
for a, b in itertools.permutations(["1", "2", "3"], 2): 
    print(a + b)

12
13
21
23
31
32

> itertools.combination(iterable, r)
* 반목 가능 객체 중에서 r개를 선택한 조합을 이터레이터 리턴하는 함수

In [19]:
import itertools 
it = itertools.combinations(range(1, 10), 6)

In [20]:
list(it)

[(1, 2, 3, 4, 5, 6),
 (1, 2, 3, 4, 5, 7),
 (1, 2, 3, 4, 5, 8),
 (1, 2, 3, 4, 5, 9),
 (1, 2, 3, 4, 6, 7),
 (1, 2, 3, 4, 6, 8),
 (1, 2, 3, 4, 6, 9),
 (1, 2, 3, 4, 7, 8),
 (1, 2, 3, 4, 7, 9),
 (1, 2, 3, 4, 8, 9),
 (1, 2, 3, 5, 6, 7),
 (1, 2, 3, 5, 6, 8),
 (1, 2, 3, 5, 6, 9),
 (1, 2, 3, 5, 7, 8),
 (1, 2, 3, 5, 7, 9),
 (1, 2, 3, 5, 8, 9),
 (1, 2, 3, 6, 7, 8),
 (1, 2, 3, 6, 7, 9),
 (1, 2, 3, 6, 8, 9),
 (1, 2, 3, 7, 8, 9),
 (1, 2, 4, 5, 6, 7),
 (1, 2, 4, 5, 6, 8),
 (1, 2, 4, 5, 6, 9),
 (1, 2, 4, 5, 7, 8),
 (1, 2, 4, 5, 7, 9),
 (1, 2, 4, 5, 8, 9),
 (1, 2, 4, 6, 7, 8),
 (1, 2, 4, 6, 7, 9),
 (1, 2, 4, 6, 8, 9),
 (1, 2, 4, 7, 8, 9),
 (1, 2, 5, 6, 7, 8),
 (1, 2, 5, 6, 7, 9),
 (1, 2, 5, 6, 8, 9),
 (1, 2, 5, 7, 8, 9),
 (1, 2, 6, 7, 8, 9),
 (1, 3, 4, 5, 6, 7),
 (1, 3, 4, 5, 6, 8),
 (1, 3, 4, 5, 6, 9),
 (1, 3, 4, 5, 7, 8),
 (1, 3, 4, 5, 7, 9),
 (1, 3, 4, 5, 8, 9),
 (1, 3, 4, 6, 7, 8),
 (1, 3, 4, 6, 7, 9),
 (1, 3, 4, 6, 8, 9),
 (1, 3, 4, 7, 8, 9),
 (1, 3, 5, 6, 7, 8),
 (1, 3, 5, 6, 7, 9),
 (1, 3, 5, 6, 8, 9),
 (1, 3, 5, 7, 8, 9),
 (1, 3, 6, 7, 8, 9),
 (1, 4, 5, 6, 7, 8),
 (1, 4, 5, 6, 7, 9),
 (1, 4, 5, 6, 8, 9),
 (1, 4, 5, 7, 8, 9),
 (1, 4, 6, 7, 8, 9),
 (1, 5, 6, 7, 8, 9),
 (2, 3, 4, 5, 6, 7),
 (2, 3, 4, 5, 6, 8),
 (2, 3, 4, 5, 6, 9),
 (2, 3, 4, 5, 7, 8),
 (2, 3, 4, 5, 7, 9),
 (2, 3, 4, 5, 8, 9),
 (2, 3, 4, 6, 7, 8),
 (2, 3, 4, 6, 7, 9),
 (2, 3, 4, 6, 8, 9),
 (2, 3, 4, 7, 8, 9),
 (2, 3, 5, 6, 7, 8),
 (2, 3, 5, 6, 7, 9),
 (2, 3, 5, 6, 8, 9),
 (2, 3, 5, 7, 8, 9),
 (2, 3, 6, 7, 8, 9),
 (2, 4, 5, 6, 7, 8),
 (2, 4, 5, 6, 7, 9),
 (2, 4, 5, 6, 8, 9),
 (2, 4, 5, 7, 8, 9),
 (2, 4, 6, 7, 8, 9),
 (2, 5, 6, 7, 8, 9),
 (3, 4, 5, 6, 7, 8),
 (3, 4, 5, 6, 7, 9),
 (3, 4, 5, 6, 8, 9),
 (3, 4, 5, 7, 8, 9),
 (3, 4, 6, 7, 8, 9),
 (3, 5, 6, 7, 8, 9),
 (4, 5, 6, 7, 8, 9)]

> functools.reduce(function, iterable)
* 객체의 요소에 차례대로 누적 적용하여 하나의 값으로 줄이는 함수

In [21]:
def add(data): 
    result = 0 
    for i in data: 
        result += i 
    return result 

data = [1, 2, 3, 4, 5, 6] 
result = add(data) 
print(result)

21

In [22]:
import functools 

data = [1, 2, 3, 4, 5] 
result = functools.reduce(lambda x, y: x + y, data) 
print(result)

15

In [23]:
from operator import itemgetter 

students = [
    ("jane", 22, "A"), 
    ("dave", 32, "B"), 
    ("sally", 17, "C")
]
# 튜플의 1번째 요소를 기준으로 정렬 
# key=itemgetter(0)
# 튜플의 2번째 요소를 기준으로 정렬 
result = sorted(students, key=itemgetter(1))
print(result)

[('sally', 17, 'C'), ('jane', 22, 'A'), ('dave', 32, 'B')]

In [25]:
from operator import itemgetter 

students = [
    {"name": "jane", "age": 22, "grade": "A"},
    {"name": "dave", "age": 21, "grade": "B"},
    {"name": "sally", "age": 24, "grade": "C"}
]

result = sorted(students, key=itemgetter("age"))
print(result)

[{'name': 'dave', 'age': 21, 'grade': 'B'}, {'name': 'jane', 'age': 22, 'grade': 'A'}, {'name': 'sally', 'age': 24, 'grade': 'C'}]