In [1]:
odd = [1, 3, 5, 7, 9]

In [2]:
a = [] 
b = [1, 2, 3] 
c = ["Life", "is", "too" , "short"] 
d = [1, 2, "Life", "is" ] 
e = [1, 2, ["Life", "is"]]

In [3]:
a = [1, 2, 3] 
a

[1, 2, 3]

In [4]:
a[0]

1

In [5]:
c[0]

'Life'

In [6]:
c[0][1]

'i'

In [7]:
a[0] + a[1]

3

In [10]:
str(d[0]) + d[2]

'1Life'

In [11]:
a[-1]

3

In [12]:
a = [1, 2, 3, ["a", "b", "c"]]

In [13]:
a[0]

1

In [14]:
a[-1]

['a', 'b', 'c']

In [15]:
a[3]

['a', 'b', 'c']

In [16]:
a[3][1]

'b'

In [17]:
a = [1, 2, ["a", "b", ["Life", "is"]]]

In [19]:
a[-1][-1][-1][0]

'i'

In [20]:
a = [1, 2, 3, 4, 5]
a[0:2]

[1, 2]

In [21]:
a = [1, 2, 3, 4, 5]
b = a[:2]
c = a[2:]

print(b) 
print(c)

[1, 2]
[3, 4, 5]

In [22]:
a = [1, 2, 3, ["a", "b", "c"], 4, 5]
a[2: 5]

[3, ['a', 'b', 'c'], 4]

In [23]:
a[3][:2]

['a', 'b']

In [24]:
a = [1, 2, 3]
b = [3, 4, 5]
a + b

[1, 2, 3, 3, 4, 5]

In [25]:
a = [1, 2, 3] 
a * 3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [26]:
a = [1, 2, 3]
len(ㅁ)

NameError: name 'ᄆ' is not defined

In [29]:
str(len(a)) + "개"

'3개'

In [30]:
a = [1, 2, 3] 
a[2] + "hi"

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [31]:
a = [1, 2, 3] 
a[2] = 4
a

[1, 2, 4]

In [32]:
a[0] = "hello"

In [33]:
a

['hello', 2, 4]

In [34]:
del a[0]

In [35]:
a

[2, 4]

In [36]:
del a

In [37]:
a

NameError: name 'a' is not defined

In [38]:
a = [1, 2, 3, 4, 5] 
del a [2:]

In [39]:
a

[1, 2]

In [40]:
a = [1, 2, 3]
a.append(4)
a

[1, 2, 3, 4]

In [41]:
a.append([4, 5])

In [42]:
b = "hello" 
b.append("d")

AttributeError: 'str' object has no attribute 'append'

In [43]:
a = [1, 4, 3, 2] 
a.sort()

In [44]:
a

[1, 2, 3, 4]

In [45]:
a

[1, 2, 3, 4]

In [46]:
a = ["a", "c", "d"]
a.reverse()

In [47]:
a

['d', 'c', 'a']

In [48]:
a = [1, 3, 2] 
a.index(3)

1

In [49]:
a.index(4)

ValueError: 4 is not in list

In [50]:
a.find(1)

AttributeError: 'list' object has no attribute 'find'

In [51]:
"hello".find("d")

-1

In [52]:
a = [1, 2, 3] 
a.insert(0, 4)

In [53]:
a

[4, 1, 2, 3]

In [54]:
a.insert(5)

TypeError: insert expected 2 arguments, got 1

In [55]:
a.insert(_, 3)

TypeError: 'list' object cannot be interpreted as an integer

In [56]:
a.insert(0, "ddd")

In [57]:
a

['ddd', 4, 1, 2, 3]

In [58]:
a.remove(0)

ValueError: list.remove(x): x not in list

In [59]:
a

['ddd', 4, 1, 2, 3]

In [60]:
a.remove("ddd")

In [61]:
a

[4, 1, 2, 3]

In [62]:
a.append(3)

In [63]:
a.append([1, 3])

In [64]:
a

[4, 1, 2, 3, 3, [1, 3]]

In [65]:
a.insert(4, [2, 3])

In [66]:
a

[4, 1, 2, 3, [2, 3], 3, [1, 3]]

In [67]:
a.remove(3)

In [68]:
a

[4, 1, 2, [2, 3], 3, [1, 3]]

In [69]:
a.pop()

[1, 3]

In [70]:
a

[4, 1, 2, [2, 3], 3]

In [71]:
b = a.pop()
print(a) 
print(b)

[4, 1, 2, [2, 3]]
3

In [72]:
a = [1, 2, 3, 1]
a.count(1)

2

In [73]:
b = "hello" 
b.count("l")

2

In [74]:
a = [1, 2, 3] 
a.extend([4, 5])

In [75]:
a

[1, 2, 3, 4, 5]

In [76]:
b = [6, 7] 
a.extend(b)

In [77]:
a

[1, 2, 3, 4, 5, 6, 7]